<a href="https://colab.research.google.com/github/Sangh0/DeepLearning-Tutorial/blob/main/current_materials/python_for_beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초
## contents
- 1. string, integer, float 타입 변수 정의 및 할당
- 2. 사칙연산
- 3. 문자열 formatting
- 4. 리스트, 딕셔너리 다루는 법
- 5. if elif else 조건문
- 6. for 문
- 7. 함수 만들기
- 8. class 만들기

In [ ]:
a, b, c = map(int, input().split())
print((a + b) % c)
print(((a % c) + (b % c)) % c)
print((a * b) % C)
print(((a % c) * (b % c)) % c)

## 1. string, integer, float 타입 변수 정의 및 할당

In [ ]:
# 시작하기 전에 파이썬에서 주석처리를 하는 법을 알려드릴게요
# 파이썬 주석 처리는 #을 이용하거나 ''' ''' 또는 """ """을 이용해서 주석 처리를 할 수 있어요
# 예시를 몇 개 보여드릴게요

a = "Hello world" # Hello world라는 문자열을 a라는 변수에 할당을 해요
print(a)

# 그리고 코랩에서는 이 셀을 실행하기 위해선 각 셀의 왼쪽에 있는 세모로 되어 있는 실행 버튼을 누르거나 shift + enter를 치면 실행이 돼요

"""
아니면 이렇게 주석 처리를 할 수도 있어요
주석 처리로 감싸진 부분은 파이썬에서 알아서 인식을 하지 않고 코드로 보지 않아요
그래서 이 cell을 실행하면 오직 다음 두 줄의 코드만 인식해요

a = "Hello world"
print(a)

"""

Hello world

'\n아니면 이렇게 주석 처리를 할 수도 있어요\n주석 처리로 감싸진 부분은 파이썬에서 알아서 인식을 하지 않고 코드로 보지 않아요\n그래서 이 cell을 실행하면 오직 다음 두 줄의 코드만 인식해요\n\na = "Hello world" \nprint(a)\n\n'

In [ ]:
# 이제 본격적으로 string, integer, float 변수 할당에 대해 알아볼게요
a = "문자열" # 이 친구는 string 타입의 변수예요 한글로 써도 되고 영어로 써도 문자열로 인식해요
b = 3 # 이 친구는 integer 타입의 변수예요
c = 0.1 # 이 친구는 float 타입의 변수예요

# 그래서 이 3개를 출력해보면 다음과 같이 출력돼요
print(a, b, c)

# 그리고 각 변수의 타입을 알아보기 위해선 type()라는 코드로 감싸주면 돼요
print(type(a), type(b), type(c))

문자열 3 0.1
<class 'str'> <class 'int'> <class 'float'>

## 2. 사칙 연산

In [ ]:
# 이제 수의 사칙연산에 대해 알아볼게요
a = 7
b = 3
print(a + b) # 더하기

10

In [ ]:
print(a - b) # 빼기

4

In [ ]:
print(a / b) # 나누기

2.3333333333333335

In [ ]:
print(a * b) # 곱하기

21

In [ ]:
# 그리고 나누기하는 과정에서 몫과 나머지를 구하는 법을 알아볼게요
print(a // b) # 몫 구하기

2

In [ ]:
print(a % b) # 나머지 구하기

1

In [ ]:
# float과 int 그리고 float과 float으로도 사칙연산을 할 수 있어요

# float과 int 사칙연산
a = 0.1
b = 3

print("더하기: ", a + b, "빼기: ", a - b, "곱하기: ", a * b, "나누기: ", a / b)

더하기:  3.1 빼기:  -2.9 곱하기:  0.30000000000000004 나누기:  0.03333333333333333

In [ ]:
# float과 float 사칙연산
a = 0.1
b = 0.45

print("더하기: ", a + b, "빼기: ", a - b, "곱하기: ", a * b, "나누기: ", a / b)

더하기:  0.55 빼기:  -0.35 곱하기:  0.045000000000000005 나누기:  0.22222222222222224

In [ ]:
# 문자열과 int or float 타입끼리는 사칙 연산이 당연히 안되고 에러가 발생해요
a = "string"
b = 3

print(a + b)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 문자열과 문자열끼리 더하는 건 가능해요
a = "Hello, My name is "
b = "Sangho"
print(a + b)

Hello, My name is Sangho

## 3. 문자열 fotmatting 방법

In [ ]:
# 설명보다 예를 하나 보여드릴게요
name = "Sangho"
age = 27

print("{}의 나이는 {}세다".format(name, age)) # 이렇게 하는 방법이 있고요

Sangho의 나이는 27세다

In [ ]:
print(f"{name}의 나이는 {age}세다") # 이렇게 하는 방법이 있어요

# 문자열 사이에 dynamic하게 변수를 바꾸면서 출력할 일이 있다면 formatting을 이용하는 것이 좋아요

Sangho의 나이는 27세다

In [ ]:
# 아니면 다음과 같이 formatting 문자열을 따로 정의하고 출력하는 것도 돼요
name_and_age = f"{name}의 나이는 {age}세다"
print(name_and_age)

Sangho의 나이는 27세다

## 4. 리스트, 딕셔너리 다루는 법

In [ ]:
# 먼저 리스트부터 살펴볼거고 리스트는 다음과 같이 정의할 수 있어요
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# 리스트에는 정수 뿐만 아니라 소수, 문자열 등 다양한 데이터 타입을 넣을 수 있어요
b = [0.1, 0.2, 0.3, "float", 1, 3, 5, 10, "integer", "stirng"]
print(b)

[0.1, 0.2, 0.3, 'float', 1, 3, 5, 10, 'integer', 'stirng']

In [ ]:
# 리스트는 원소를 뽑거나 인덱싱을 할 수 있어요
# 먼저, 우리는 순서를 1, 2, 3, 4, ... 이렇게 알고 있는 반면
# 파이썬에서는 1이 아닌 0부터 시작을 해요
# 즉, 우리 입장에서 첫 번째 원소를 뽑아내고 싶다면 파이썬에서는 0번째 원소를 뽑아야 해요
# 예를 하나 보여드릴게요
a = [10, 20, 30, 40, 50]
# 첫 번째 원소 뽑기
print(a[0])

10

In [ ]:
# 두 번째 원소 뽑기
print(a[1])

20

In [ ]:
# 세 번째 원소 뽑기
print(a[2])

30

In [ ]:
# 위처럼 우리 입장에서 n번째 원소를 뽑고 싶다면 파이썬에서는 n-1이라는 수를 넣으면 돼요
# 또한 리스트 안에 있는 원소의 갯수가 몇 개인지 모르는 상태에서 마지막 원소를 뽑고 싶을 때는 -1을 사용하면 돼요
# 마지막 원소 뽑기
print(a[-1])

50

In [ ]:
# 여기까지 리스트의 원소를 하나씩 뽑는 방법에 대해 살펴봤고요
# 이제 여러 개의 원소를 뽑는 법을 살펴볼게요 얘를 인덱싱이라 해요
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(a[:3]) # 0번째부터 2번째 원소까지 뽑기 즉, 1, 2, 3

[1, 2, 3]

In [ ]:
# 4번째부터 5번째 원소 뽑기
print(a[4:6])

[5, 6]

In [ ]:
# 6번째부터 마지막 원소 뽑기
print(a[6:])

[7, 8, 9, 10]

In [ ]:
# 이제 딕셔너리 다루는 법에 대해 살펴볼게요
aaa = {
    "a": 10,
    "b": 20,
    "c": 30,
    "d": 40,
}
print(aaa)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
# 위에서 정의한 aaa라는 딕셔너리는 a, b, c, d라는 key와 10, 20, 30, 40이라는 value를 갖고 있어요
# 즉, 왼쪽 컬럼들은 key, 오른쪽 컬럼들은 value라고 얘기를 해요
# 이제 각 key를 이용해서 value를 어떻게 얻는지 살펴볼게요
print(aaa["a"])
# a라는 key에 접근해 10이라는 value를 얻어요

10

In [ ]:
print(aaa["c"])
# c라는 key에 접근해 30이라는 value를 얻어요

30

In [ ]:
# 딕셔너리에 key, value를 추가하고 싶다면 다음과 같이 코드를 짜면 돼요
aaa["e"] = 50

print(aaa)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

## 5. if elif else 조건문

In [ ]:
# 여기서도 역시, 설명보단 예제를 먼저 살펴볼게요

a = 30

if a < 100:
    print("100 미만")

100 미만

In [ ]:
# 위 코드를 보면 a는 30이라는 변수를 정의했고 if 조건문을 통해 a가 100 미만이라면 "100 미만"이라는 문자열을 출력하도록 했어요
# 여기에 elif와 else를 어떻게 쓰는지 살펴볼게요

a = 30

if a < 50:
    print("50 미만")
elif a < 100:
    print("50 이상 100 미만")
else:
    print("100 초과")

# 위의 코드처럼 if, elif, else를 작성한 후에는 항상 :를 붙여야 돼요
# 그리고 if와 elif에는 항상 옆에 조건을 달아줘야 하고 else는 달지 않아요

50 미만

In [ ]:
# 예제를 하나 살펴볼게요

GPA = 4.1

# 만약 평점이 4.5라면 A+
if GPA == 4.5:
    print("A+")
# 만약 평점이 4.0과 4.5 사이라면 A0
elif 4.0 <= GPA < 4.5:
    print("A0")
elif 3.5 <= GPA < 4.0:
    print("B+")
elif 3.0 <= GPA < 3.5:
    print("B0")
elif 2.5 <= GPA < 3.0:
    print("C+")

else:
    print("F")

# 이런 식으로 if elif else 구문을 이용할 수 있어요

A0

## 6. for 문

In [ ]:
"""
for문은 반복문이라고도 해요
예를 들어서 아래와 같은 코드가 있다고 해볼까요
"""

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 위 코드의 문제점은 숫자만 다를 뿐 똑같은 코드를 반복해서 타이핑해야 하는 것이 문제예요
# 그래서 이는 for 반복문을 이용해 해결할 수 있어요
for i in range(1, 11):
    print(i)

# 그러면 10줄의 코드를 단 2줄로 표현할 수 있어요

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 리스트를 이용해 for문을 이용할 수도 있어요
a = ["첫 번째", "두 번째", "세 번째", "네 번째", "다섯 번째", "여섯 번째"]

for x in a:
    print(x)

# 이렇게 하면 리스트 모든 원소 하나씩 접근하되 해당 원소의 변수명을 x라고 정의하고 x를 출력하라는 뜻이예요

첫 번째
두 번째
세 번째
네 번째
다섯 번째
여섯 번째

In [ ]:
# 예를 들어 구구단 2단을 출력하는 코드를 짜볼게요

n = 2

for i in range(1, 10):
    print(f"{n} x {i} = {n * i}")

# 이런 식으로 formatting과 함께 적절히 섞어서 사용할 수 있어요

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

## 7. 함수 만들기

In [ ]:
# 함수는 똑같은 코드 또는 비슷한 프로세스를 가지는 코드를 여러 개 짜야할 때 함수 하나 만들어놓고 실행하면 편해요
def plus1(a, b):
    return a + b

def plus2(a, b):
    c = a + b
    return c

print(plus1(3, 4))
print(plus2(3, 4))

7
7

In [ ]:
"""
위처럼 plus1, plus2 두 개의 함수를 만들었어요
두 함수 모두 a, b를 파라미터로 하며 2개의 인풋을 받아요
그리고 a와 b를 더하고 반환해줘요
둘 중 어떻게 코드를 구성해도 입력과 출력은 똑같아요

다른 예시를 들어볼게요
"""

def 사칙연산(a, b, mode="plus"):
    if mode == "plus":
        c = a + b
    elif mode == "minus":
        c = a - b
    elif mode == "multiply":
        c = a * b
    elif mode == "divide":
        c = a / b
    else:
        c = "None"

    return c

plus_result = 사칙연산(a=3, b=4, mode="plus")
minus_result = 사칙연산(a=3, b=4, mode="minus")
multiply_result = 사칙연산(a=3, b=4, mode="multiply")
divide_result = 사칙연산(a=3, b=4, mode="divide")
print(plus_result, minus_result, multiply_result, divide_result)

7 -1 12 0.75

In [ ]:
"""
위처럼 if elif else 조건문을 활용해 mode를 더하기, 빼기, 곱하기, 나누기 중 하나로 인풋을 받고 a, b를 숫자로 받아 함수를 만들 수 있어요

이번엔 구구단을 출력해주는 함수를 만들어볼게요
"""

def 구구단(N):
    print(f"{N}단")
    for i in range(1, 10):
        print(f"{N} x {i} = {N * i}")

구구단(5)

5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

## 8. class 만들기

In [ ]:
"""
파이썬 뿐만 아니라 모든 프로그래밍 언어는 객체 지향으로 코드를 구축해야 굉장히 편리해요

객체 지향이 무엇인지 예를 하나 들어 드릴게요
어떤 프로세스를 수행하는 데 있어 a, b, c, d라는 과정이 필요하다고 하죠
그래서 이를 하나의 통 코드로 구현했다고 칩시다
그런데 갑자기 b라는 과정을 e로 바꿔야 할 때가 있다면 코드를 전부 다 갈아치워야 해요
그래서 a 따로, b 따로, c, d 따로 모두 "객체"로 구현해놓고 이들이 서로 맞물려 하나의 프로세스로 돌아갈 수 있게끔 하는 것이 가장 효율적이예요
즉, 각각을 모듈로 구현해 놓는거죠
그렇다면 나중에 a, b, c, d 중 하나를 e로 갈아치워야 할 때가 오면 딱 해당 "객체" 부분만 바꿔 끼울 수 있게끔 도와주는 것이 "class"입니다

자동차 조립을 비유로 들면 이해가 쉬우실 거예요
자동차를 만들 때 통 알루미늄을 갖고 다듬어서 하나의 바디로 만드는 것보다는
A B C 필러, 전면 범퍼, 후면 범퍼, 보닛, 도어, 전면 휀더, 후면 휀더, 타이어, 휠, 핸들, 콘솔, 디스플레이 등을 각각 모듈로 만들어놓고 나중에 한 번에 합치는 것이 더 효율적이듯이요
그래야 사고나서 수리할 때도 바디 프레임 또는 내장재 전부 갈아치우는 것이 아닌 찌그러진 또는 고장난 부분의 모듈만 갈아 끼울 수 있도록이요
"""

# 클래스는 다음과 같이 정의할 수 있어요
# 이 파트 역시, 예시 코드를 먼저 보여드리고 설명을 시작하겠습니다

class PersonInfo: # 클래스
    def __init__(self, name, age, gender, height):
        self.age = age
        self.name = name
        self.gender = gender
        self.height = height

    def name_info(self):
        return self.name

    def age_info(self):
        return self.age

    def gender_info(self):
        return self.gender

    def height_info(self):
        return self.height


# 위와 같이 이름, 나이, 성별, 키 등 사람의 정보를 담는 클래스를 정의할게요
sangho_info = PersonInfo(name="sangho", age=25, gender="man", height="178cm")

# 나이를 출력하고 싶다면
sangho_age = sangho_info.age_info()
print(sangho_age)

# 키를 출력하고 싶다면
sangho_height = sangho_info.height_info()
print(sangho_height)

25
178cm

In [ ]:
"""
이제 설명을 해 드릴게요
class를 정의할 때는 안에 원하는 대로 함수를 정의하게 되고 각 함수를 메소드라고 불러요
보통 __init__ 메소드는 클래스가 돌아가는 데 있어 필요한 정보들을 넣는 것이라고 생각하면 돼요
그리고 그 뒤에 name_info는 이름을 리턴하는 메소드, age_info는 나이를 리턴하는 메소드 등이고요
__init__ 메소드에 모든 변수에 self.를 붙였는데 어떤 메소드든 global하게 사용 가능한 변수를 만들고 싶다면 self.를 붙이면 돼요
"""

# 아직 감을 잘 못 잡으실 거예요
# 디테일한 예시를 하나 더 들어보죠
# 은행 계좌를 다루는 클래스를 만들어 볼게요
# 기능으로는 입금, 출금, 잔액 조회, 계좌 정보 조회 4개를 구현할게요

class BankAccount:
    # 계좌 개설 시 이름과 잔액 설정
    def __init__(self, owner, balance):
        self.owner = owner # 예금주
        self.balance = balance # 잔액

    # 입금 메소드
    def deposit(self, amount): # amount: 입금할 금액
        self.balance += amount # a += b는 a = a + b랑 똑같은 코드예요

    # 출금 메소드
    def withdraw(self, amount): # amount: 출금할 금액
        if amount > self.balance: # 출금할 금액이 잔액보다 클 경우를 대비
            print("Insufficient funds")
        else:
            self.balance -= amount

    # 잔액 조회 메소드
    def get_balance(self):
        return self.balance

    # 계좌 정보 출력 메소드
    def display_info(self):
        info = f"Owner: {self.owner}, Balance: {self.balance}"
        return info


# 계좌 개설 및 1000원 넣기
my_account = BankAccount("sangho", 1000)

In [ ]:
# 잔액 조회
print(my_account.get_balance())

1000

In [ ]:
# 500원 입금
my_account.deposit(500)

In [ ]:
# 현재 계좌 잔액 조회
print(my_account.get_balance())

1500

In [ ]:
# 1500원 출금
my_account.withdraw(1500)

In [ ]:
# 현재 계좌 잔액 조회
print(my_account.get_balance())

0

In [ ]:
# 계좌 정보 출력
print(my_account.display_info())

Owner: sangho, Balance: 0

In [ ]:
"""
아직 왜 클래스가 "객체 지향"인지 감을 잘 못 잡으실 거예요

아까 자동차로 비유를 들었으니 간단한 자동차 조립을 예시로 구현해보죠
여기서는 간단하게 범퍼, 도어, 타이어만 가지고 차량을 제작할 수 있다고 가정해볼게요
"""

# 범퍼 클래스 정의
class Bumper:
    def __init__(self, material):
        self.material = material

    def describe(self):
        return f"Bumper made of {self.material}"


# 차량 도어 클래스 정의
class Door:
    def __init__(self, color):
        self.color = color

    def describe(self):
        return f"Door painted in {self.color} color"


# 차량 타이어 클래스 정의
class Tire:
    def __init__(self, size):
        self.size = size

    def describe(self):
        return f"Tire with size {self.size} inches"


# 차량 완성본 클래스 정의
class Car:
    def __init__(self, model):
        self.model = model # 차량 모델명
        self.doors = [] # 도어는 보통 2개 또는 4개를 탑재하니 미리 리스트로 정의
        self.tires = [] # 타이어는 4개가 일반적이지만 버스, 트럭 등은 6개 이상도 존재하니 혹시 몰라서 리스트로 정의

    # 범퍼 소재 정의
    def add_bumper(self, bumper):
        self.bumper = bumper

    # 도어 컬러 정의
    def add_door(self, door):
        self.doors.append(door)

    # 타이어 정의
    def add_tire(self, tire):
        self.tires.append(tire)

    # 최종적으로 조립한 자동차 설명하는 함수 정의
    def describe(self):
        # 자동차 사양 정보들을 담을 리스트 정의
        description = [f"Model: {self.model}"]

        # 범퍼 소재 사양 추가
        description.append(self.bumper.describe())

        # 도어 갯수만큼 사양 설명 추가
        description.append(f"The number of doors is {len(self.doors)}")
        for d in self.doors:
            description.append(d.describe())

        # 타이어 갯수만큼 사양 설명 추가
        description.append(f"The number of tires is {len(self.tires)}")
        for t in self.tires:
            description.append(t.describe())

        return description


# 조립 과정
my_car = Car("Tesla Model S")
my_car.add_bumper(Bumper("carbon fiber"))
my_car.add_door(Door("red"))
my_car.add_door(Door("red"))
my_car.add_tire(Tire(19))
my_car.add_tire(Tire(19))
my_car.add_tire(Tire(19))
my_car.add_tire(Tire(19))

# 완성된 자동차 설명
for des in my_car.describe():
    print(des)

Model: Tesla Model S
Bumper made of carbon fiber
The number of doors is 2
Door painted in red color
Door painted in red color
The number of tires is 4
Tire with size 19 inches
Tire with size 19 inches
Tire with size 19 inches
Tire with size 19 inches

In [ ]:
# 여기서 만약에 차량 타이어에 대한 설명을 inch가 아닌 cm으로 나타내고 싶다면?
# 기존 Tire 클래스를 지우고 새로 정의하거나 아래와 같이 수정을 하면 돼요

class Tire:
    def __init__(self, size):
        self.size = size

    def describe(self):
        return f"Tire with size {self.size * 2.54} cm" # 1 inch = 2.54 cm


# 이제 아까 코드를 다시 실행하면
my_car = Car("Tesla Model S")
my_car.add_bumper(Bumper("carbon fiber"))
my_car.add_door(Door("red"))
my_car.add_door(Door("red"))
my_car.add_tire(Tire(19))
my_car.add_tire(Tire(19))
my_car.add_tire(Tire(19))
my_car.add_tire(Tire(19))

for des in my_car.describe():
    print(des)

Model: Tesla Model S
Bumper made of carbon fiber
The number of doors is 2
Door painted in red color
Door painted in red color
The number of tires is 4
Tire with size 48.26 cm
Tire with size 48.26 cm
Tire with size 48.26 cm
Tire with size 48.26 cm

In [ ]:
"""
이처럼 클래스는 모듈화를 위해서 꼭 필요해요
지금은 간단한 코드로 구현해서 모듈화의 필요성을 느끼지 못하겠지만 나중에 대규모 프로젝트를 수행할 때 또는 코드를 배포할 일이 생긴다면 클래스로 구현하는 것이 더 편할거예요
"""